{% macro style() %}
    <style lang="css" type="text/css">
        .toast.hide {
            display: none !important;
        }
    </style>
{% endmacro %}

{% macro html() %}
    <div class="toast d-flex align-items-center fade show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body compact-text red-text">✨ 페이지 하단의 키링 이벤트에 참여해주세요!</div>
        <button id="event-toast" type="button" class="btn-close ms-auto me-2" data-dismiss="toast"
                data-bs-dismiss="toast" aria-label="Close" data-autohide="false" data-delay="0"></button>
    </div>
{% endmacro %}

{% macro script() %}
    <script lang="js">
        (function () {
            'use strict'

            const btnEventToast = document.getElementById('event-toast');

            if (typeof (Storage) !== "undefined" && localStorage.getItem('submitSucceed') !== null) {
                btnEventToast.Toast.hide();
            } else {
                btnEventToast.Toast.show();
            }
        })()
    </script>
{% endmacro %}