{% macro head_script() %}
    <script src="https://rawcdn.githack.com/nextapps-de/spotlight/0.6.3/dist/spotlight.cdn.js"></script>
{% endmacro %}

{% macro html(image_names) %}
    <!-- the Carousel component -->
    <div id="gallery" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-bs-touch="true"
         data-bs-pause="hover">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            {% for i, image_name in image_names %}
                <li data-bs-target="#gallery" data-bs-slide-to="{{ i }}" {{ 'class="active"' if i == 0 }}></li>
            {% endfor %}
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner spotlight-group">
            {% for i, image_path in image_names %}
                <div class="spotlight carousel-item {{ 'active' if i == 0 }}" data-src="{{ image_path }}">
                    <img class="img-fluid lazyload" data-sizes="auto" data-src="{{ image_path }}"/>
                </div>
            {% endfor %}
        </div>

        <!-- Controls -->
        <a class="carousel-control-prev" href="#gallery" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Prev</span>
        </a>
        <a class="carousel-control-next" href="#gallery" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>
{% endmacro %}