{% extends 'base.html' %}

{% from 'heading.html' import style as heading_style, html as heading_html %}
{% from 'event_toast.html' import style as event_toast_style, html as event_toast_html, script as event_toast_script %}
{% from 'qna.html' import style as qna_style, html as qna_html %}
{% from 'quiz.html' import style as quiz_style, html as quiz_html, script as quiz_script %}
{% from 'gallery.html' import html as gallery_html, head as gallery_head %}

{% block html_heads %}
    <style lang="css" type="text/css">
        .red-text {
            color: #d63d1e !important;
        }

        .compact-text {
            transform: scaleY(0.98);
        }

        .question-text {
            text-decoration-color: #1d282c !important;
            text-underline-offset: 0.25em;
        }

        .tall-line {
            line-height: 1.8;
        }
    </style>
    {{ heading_style() }}
    {{ event_toast_style() }}
    {{ qna_style() }}
    {{ quiz_style() }}
    {{ gallery_head() }}
{% endblock %}

{% block content %}
    {{ heading_html() }}
    {{ event_toast_html() }}

    {% for i, data in qnas %}
        {{ qna_html(offset + i, data['question'], data['jay'], data['isac']) }}
    {% endfor %}

    {{ quiz_html(cafe_names, grade_names) }}
    {{ gallery_html(image_names) }}
{% endblock %}


{% block script %}
    {{ event_toast_script() }}
    {{ quiz_script() }}
{% endblock %}