{% macro style() %}
    <style lang="css" type="text/css">
        #feedback {
            height: 100px;
        }

        .btn-before-submit, .btn-before-submit:hover, .btn-before-submit:active, .btn-before-submit:visited {
            background-color: #9f3013 !important;
            color: #fcf8f3;
            padding-top: 0.8em;
            padding-bottom: 0.8em;
        }

        .btn-submitted, .btn-submitted:hover, .btn-submitted:active, .btn-submitted:visited {
            background-color: #9f9f9f !important;
            color: #fcf8f3;
            padding-top: 0.8em;
            padding-bottom: 0.8em;
        }

        #answer-error-model .modal-body, .modal-footer {
            background-color: #fcf8f3 !important;
        }

        #answer-error-model .modal-header {
            background-color: #9f3013 !important;
            color: #fcf8f3;
        }
    </style>
{% endmacro %}

{% macro html(cafe_names, grade_names) %}
    <div class="d-flex flex-column tall-line mb-4">
        <div class="d-flex flex-row align-items-baseline">
            <strong class="question-number">Quiz.</strong>
            <span class="text-decoration-underline red-text question-text compact-text">병훈이가 만남을 시작할 때 고백한 교회 근처의 카페는 어디일까요?</span>
        </div>
        <small class="text-muted compact-text mb-3"><strong>키링 이벤트</strong>&mdash;정답자 중 5명 추첨</small>
        <form id="event-answer" action="/answer" class="needs-validation" novalidate>
            <fieldset class="row g-3">
                <div class="col-sm-6 col-md">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="name" name="name" placeholder="이름" required>
                        <label for="name" class="compact-text text-muted">이름</label>
                    </div>
                </div>
                <div class="col-sm-6 col-md">
                    <div class="form-floating">
                        <select class="form-select form-control" id="grade-select" aria-label="Grade name"
                                name="grade_name"
                                required>
                            <option value="" selected disabled>학년 이름을 선택해주세요.</option>
                            {% for i, name in grade_names %}
                                <option value="{{ i }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                        <label for="grade-select" class="compact-text">학년 이름</label>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="form-floating">
                        <select class="form-select" id="cafe-select" name="cafe_name" multiple required
                                aria-label="Cafe name near Sarang Curch">
                            {% for i, name in cafe_names %}
                                <option value="{{ i }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                        <label for="cafe-select" class="compact-text">카페 이름&mdash;최대 2개 선택</label>
                        <div class="invalid-feedback">
                            최대 2개 선택할 수 있습니다.
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating">
                    <textarea class="form-control compact-text" placeholder="하고싶은 말" id="feedback"
                              name="feedback"></textarea>
                        <label for="feedback" class="text-muted compact-text">하고싶은 말이 있다면 자유롭게 남겨주세요. (선택)</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-grid d-md-flex justify-content-md-end">
                        <button id="btn-submit" type="submit"
                                class="btn btn-before-submit px-4 compact-text align-middle">제출
                        </button>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="modal fade hide" id="answer-error-model" tabindex="-1" aria-labelledby="answer-error-model-title"
             aria-modal="true" role="dialog">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            <strong id="answer-error-model-title" class="compact-text">미안해요!</strong>
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body pb-0">
                        <p class="m-0">
                            서버에 문제가 생겼나봐요😰<br>잠시 후에 다시 시도해주세요!
                        </p>
                    </div>
                    <div class="modal-footer border-top-0"></div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro script() %}
    <script lang="js">
        (function () {
            'use strict'

            const eventForm = document.getElementById('event-answer');
            const answerErrorModal = new BSN.Modal('#answer-error-model');
            const submitSpinner = document.createElement('span');
            submitSpinner.classList.add('spinner-border', 'spinner-border-sm', 'm-1');
            submitSpinner.setAttribute('role', 'status');
            submitSpinner.setAttribute('aria-hidden', 'true');

            function serializeForm(form) {
                return Array.from(new FormData(form).entries())
                    .reduce(
                        (reduced, [key, val]) => {
                            if (reduced[key] !== undefined) {
                                if (!Array.isArray(reduced[key])) {
                                    reduced[key] = [reduced[key]];
                                }
                                reduced[key].push(val);
                            } else {
                                reduced[key] = val;
                            }
                            return reduced
                        },
                        {}
                    );
            }

            function saveAnswer(form) {
                if (typeof (Storage) === "undefined") return;

                const serializedForm = serializeForm(form);
                localStorage.setItem('submittedData', JSON.stringify(serializedForm));
            }

            function validateSavedFormData(savedData) {
                return savedData.hasOwnProperty('name') && savedData.hasOwnProperty('grade_name') && savedData.hasOwnProperty('cafe_name');
            }

            function onSubmittedButton() {
                const btnSubmit = document.getElementById('btn-submit');
                btnSubmit.textContent = '완료';
                btnSubmit.classList.remove('btn-before-submit');
                btnSubmit.classList.add('btn-submitted');
            }

            function loadAnswer() {
                if (typeof (Storage) === "undefined" || localStorage.getItem('submittedData') === null) return;

                let submittedData = localStorage.getItem('submittedData');
                try {
                    submittedData = JSON.parse(submittedData);
                } catch (e) {
                    return;
                }

                if (!validateSavedFormData(submittedData)) return;

                const nameField = document.getElementById('name');
                const gradeNameField = document.getElementById('grade-select');
                const cafeNameField = document.getElementById('cafe-select');
                const cafeOptions = Array.from(cafeNameField.getElementsByTagName('option'));
                const feedbackField = document.getElementById('feedback');

                nameField.value = submittedData.name;
                gradeNameField.value = submittedData.grade_name;
                if (Array.isArray(submittedData.cafe_name)) {
                    submittedData.cafe_name.forEach(v => cafeOptions.find(c => c.value === v).selected = true);
                } else {
                    cafeNameField.value = submittedData.cafe_name;
                }
                feedbackField.value = submittedData.feedback;
                eventForm.checkValidity();
                eventForm.classList.add('was-validated');

                let submitSucceed = localStorage.getItem('submitSucceed');
                try {
                    submitSucceed = JSON.parse(submitSucceed);
                } catch (e) {
                    return;
                }
                if (submitSucceed) {
                    onSubmittedButton();
                }
            }

            window.addEventListener('load', loadAnswer);

            document.getElementById('cafe-select').addEventListener('change', function (event) {
                const btnSubmit = document.getElementById('btn-submit');
                if (event.target.selectedOptions.length <= 2) {
                    event.target.classList.remove('is-invalid');
                    btnSubmit.disabled = false;
                } else {
                    event.target.classList.add('is-invalid');
                    btnSubmit.disabled = true;
                }
            })

            eventForm.addEventListener(
                'submit',
                function (event) {
                    if (!eventForm.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                        event.stopImmediatePropagation();
                    }
                    eventForm.classList.add('was-validated');
                },
                false
            );

            eventForm.addEventListener(
                'submit',
                function (event) {
                    event.preventDefault();
                    event.stopPropagation();
                    saveAnswer(eventForm);
                },
                false
            );

            eventForm.addEventListener(
                'submit',
                function (event) {
                    event.preventDefault();
                    event.stopPropagation();

                    const formData = serializeForm(eventForm);
                    if (!(formData.cafe_name instanceof Array)) {
                        formData.cafe_name = [formData.cafe_name]
                    }
                    const body = JSON.stringify(formData);

                    const fieldsets = Array.from(eventForm.getElementsByTagName('fieldset'));
                    fieldsets.forEach(fieldset => fieldset.setAttribute('disabled', ''));
                    const btnSubmit = document.getElementById('btn-submit');
                    btnSubmit.textContent = '제출'
                    btnSubmit.prepend(submitSpinner)

                    fetch(eventForm.getAttribute('action'), {
                        method: 'POST',
                        body: body,
                        credentials: 'include',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                        .then(response => {
                            switch (response.status) {
                                case 201:
                                onSubmittedButton();
                                    if (typeof (Storage) !== "undefined") {
                                        localStorage.setItem('submitSucceed', JSON.stringify(true));
                                    }
                                    break;
                                case 422:
                                    const result = response.json();
                                case 400:
                                    answerErrorModal.show();
                                    break;
                            }
                        })
                        .catch(answerErrorModal.show)
                        .finally(() => {
                            if (btnSubmit.firstChild === submitSpinner) {
                                btnSubmit.removeChild(submitSpinner);
                            }
                            fieldsets.forEach(fieldset => fieldset.disabled = false);
                        });
                },
                false
            );
        })()
    </script>
{% endmacro %}